body {
  background-color: #fff;
}

h1, h3, h5, p, ul, ol {
  font-family: 'Indie Flower', cursive;
}

h1 {
  color:brown;
  /* background-color: yellow; */
  font-size: 48px;
  line-height: 1em;
}

h3 {
  font-size: 32px;
  line-height: 1em;
}

h5 {
  font-size: 20px;
  line-height: 0px;
}

#first-heading {
  color:red;
}

.underline {
  color:red;
  text-decoration:underline;
}

#third {

}
